.header__container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}

.header__counter {
    margin-left: auto;
    margin-right: var(--spacing-small);
    cursor: pointer;
    font-weight: 700;
}